experiment:
  {{ experiment }}

cycle:
  {{ cycle }}

files:

  background:
    {{ background_file }}

  increment:
    {{ increment_file }}

  grid:
    {{ grid_file }}

  obsdiag:
    {{ obsdiag_file }}

plot:

  variable:
    {{ variable }}

  level:
    {{ level }}

diagnostics:

  obs_variable:
    {{ obs_variable }}

  qc_group:
    {{ qc_group }}

output:

  outdir:
    {{ outdir }}

  dpi:
    {{ dpi }}

  cycle_pdf:
    {{ cycle_pdf }}

density:

  bandwidth:
    {{ bandwidth }}

  points:
    {{ points }}

summary:

  title:
    {{ summary_title }}

  author:
    {{ summary_author }}